@font-face {
	font-family: 'Luxury';
	src: url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.woff2') format('woff2'),
		 url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.woff') format('woff'),
		 url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Hv-Cn';
	src: url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Lt-Cn';
	src: url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Th';
	src: url('../fonts/HelveticaNeueLTStd-Thin/HelveticaNeueLTStd-Thin.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-Thin/HelveticaNeueLTStd-Thin.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-Thin/HelveticaNeueLTStd-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Blk-Cn';
	src: url('../fonts/HelveticaNeueLTStd-Blk-Cn/HelveticaNeueLTStd-Blk-Cn.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-Blk-Cn/HelveticaNeueLTStd-Blk-Cn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-Blk-Cn/HelveticaNeueLTStd-Blk-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Th-Cn';
	src: url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BelloScript';
	src: url('../fonts/BelloScript/BelloScript.woff2') format('woff2'),
		 url('../fonts/BelloScript/BelloScript.woff') format('woff'),
		 url('../fonts/BelloScript/BelloScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Ul-Lt-Cn';
	src: url('../fonts/HelveticaNeueLTStd-Ul-Lt/HelveticaNeueLTStd-Ul-Lt.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-Ul-Lt/HelveticaNeueLTStd-Ul-Lt.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-Ul-Lt/HelveticaNeueLTStd-Ul-Lt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Bd-Cn';
	src: url('../fonts/HelveticaNeueLTStd-Bd-Cn/HelveticaNeueLTStd-Bd-Cn.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStd-Bd-Cn/HelveticaNeueLTStd-Bd-Cn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-Bd-Cn/HelveticaNeueLTStd-Bd-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'A-Empirial';
	src: url('../fonts/a-Empirial/a_Empirial.woff2') format('woff2'),
		 url('../fonts/a-Empirial/a_Empirial.woff') format('woff'),
		 url('../fonts/a-Empirial/a_Empirial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}